# Virtual Environment
my_venv/
venv/
ENV/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
